@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+KR);
/* main.css에 default.cdd 삽입 - 호출 */
@import url(default.css);

header {
    height: 100px;
    padding: 0 40px;
}

header h1 {
    float: left;
    margin: 31px 0 0 0;
}

header nav {
    float: right;
}

header nav ul {
    float: left;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    padding: 33px;
    color: #1D1D1D;
    font-size: 22px;
    font-weight: 700;
}

header nav .market {
    float: right;
    display: block;
    padding: 6px 30px 8px 56px;
    margin: 30px 0 0 31px;
    border: 1px solid #13A94F;
    border-radius: 22px;
    background-image: url(../images/market_ico.png);
    background-position: left 25px top 8px;
    background-repeat: no-repeat;
    color: #13A94F;
    font-size: 18px;
    font-weight: 700;
}

.visual {
    padding: 0 40px;
    color: #FFFFFF;
    font-family: 'Noto Serif KR', serif;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.visual .inner {
    height: 700px;
    background-image: url(../images/visual_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.visual strong {
    display: block;
    padding: 250px 0 0 0;
   font-size: 20px;
   font-weight: 400;
   line-height: 3;
}
.visual h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
}

.visual p {
    padding: 21px 0 0 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

.category .tit{
    color: #1D1D1D;
}

.category .tit strong {
    display: block;
    margin: 121px 0 0 0;
    font-weight: 700;
}

.category .tit h2 {
    margin: 0 0 30px 0;
    font-size: 50px;
    font-weight: 300;
    line-height: 1.2;
}

.category ul li{
    float: left;
    width: 240px;
}

.category ul li a{
    display: block;
    margin: 0 19px 0 0;
}

.category ul li a strong{
    display: block;
}

.category ul a.last {
    margin: 0;
}