@charset "UTF-8";
@import url(font.css);
body, header, footer, div, nav, section, h1, h2, h3, h4, h5, h6, button, a, ul, li, address, strong, span, em, p, i {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
em, address {
    font-style: normal;
}
ul, li {
    list-style: none;
}
button {
    background-color: transparent; /*transparent투명*/
    border: 0;
    font-family: inherit;/*서체상속 - button은 body에서 지정한 서체를 상속받지 않기 때문에 (form관련 태그는 이하동문)*/
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    cursor: pointer; /*마우스 오버 시 손바닥 모양*/
}
html, body {

    color: #3D3D3D;
    font-family: 'EY', 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    /* 폰트 적용 우선순위
    을유 웹폰트 우선적용 - 만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
    apple sd gothic - 아이폰에서 지원하는 폰트 */
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.05em;
    line-height: 1.5;
    word-break: keep-all;
}
#wrap {
    overflow-x: hidden;
    min-width: 1280px;
}
.wrapper {
    width: 1280px;
    margin: 0 auto;
}
@media screen and (max-width:640px) { 
    html, body {
        font-size: 13px;
    }
    #wrap {
        min-width: auto;
    }
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}
