@import url(default.css);
header {
    position: absolute; /*body를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 100%; 
    /*position-absolute를 주면 요소가 inline 블럭이 된 것처럼 내부에 콘텐츠가 존재하는 만큼의 넓이만 갖는다.*/
    height: 100px;
    /*border-bottom : 1px solid rgba(255,255,255,0.2) >> 헤더 밑 한 줄 옅은 한 줄 그을 때 설정*/
    color: #FFF;
}
header h1 {
    float: left;
    margin: 35px 216px 0 0;
}
header h1 a {
    display: block;
    width: 250px;
    height: 38px;
    background: url(../images/logo_white.svg) no-repeat center center / 100% ;
    /*로고를 온전하게 영역에 꽉차게 넣으려면 size를 넓이 100%으로 설정
    (높이는 비율이 맞게 알아서 - 높이를 안써주면 알아서 들어감)
    cover는 배경을 영역에 빈틈없이 매꾸는 것이기 때문에 로고가 짤림*/
    font-size: 0;
    line-height: 0;
    /*웹 접근성때문에 로고의 대체텍스트로 쓴 글자 숨기기*/
}
header .gnb {
    float: left;
} 
header .tnb {
    float: right;
}
.visual {
    height: 850px;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #FFF;
}
.visual h2 {
    padding: 340px 0 7px 0;
    font-size: 45px;
    font-weight: 400;
}
.visual .txt_pc {
    font-size: 22px;
}
.visual .txt_mobile {
    display: none;
}
@media screen and (max-width:640px) {
    .visual {
        height: auto;
        padding: 0 0 60px 0;
    }
    .visual h2 {
        padding: 170px 0 10px 0;
        font-size: 20px;
        text-align: center;
    }
    .visual .txt_pc {
        display: none;
    }
    .visual .txt_mobile {
        display: block;
        text-align: center;
    }
}