@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR); /*항상 맨 위에 위치*/

body, section, p, div, ul, li { /*body,section 등의 모든 태그에 동일한 스타일 적용(여백 제거)*/
    padding: 0;
    margin: 0;
}

ul,li {
    list-style: none;/*ul태그 앞에서 동그라미 삭제*/
} 

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #3d3d3d;
    letter-spacing: -0.05em;
    font-weight: 400;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.visual {
    background-image: url(../images/visual_bg.png);
    background-position: center center; 
    background-repeat: no-repeat;
    height: 1080px;
    padding: 520px 0 0 0;
    box-sizing: border-box; /*width/height와 padding을 동시에 선언해도 사이즈가 늘어나지 않음*/
}

.visual p {
    color: #FFFFFF;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0 0 40px 0;
} 
.visual a {
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 20px; /*높이의 절반 값*/
    padding: 9px 22px;
    display: inline-block /*인라인 요소 a태그에 padding/border를 적용하기 위해서 준 값*/;
}

.intro {
    text-align: center; /*자손요소를 가운데 정렬 - 나 자신X*/
    margin: 125px 0 125px 0;
}

.intro strong {
    font-weight: 700;
}

.intro p {
    color: #3d3d3d;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    margin: 26px 0 40px 0;
} 

.intro p span {
    color: #999999;
} 

.intro a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #3d3d3d;
    border-radius: 20px; /*높이의 절반 값*/
    padding: 9px 22px;
    display: inline-block /*인라인 요소 a태그에 padding/border를 적용하기 위해서 준 값*/;
}

.service {
    background-color: #f4f4f4;
    padding: 160px 0 160px 0;
}

.service strong {
    font-weight: 700;
}

.service p {
    color: #3d3d3d;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    margin: 26px 0 40px 0;
} 

.service p span {
    color: #999999;
} 

.service a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #3d3d3d;
    border-radius: 20px; /*높이의 절반 값*/
    padding: 9px 22px;
    display: inline-block /*인라인 요소 a태그에 padding/border를 적용하기 위해서 준 값*/;
}

.IT {
    background-image: url(../images/it_bg.png);
    background-position: center center; 
    background-repeat: no-repeat;
    height: 1080px;
    padding: 392px 0 0 0;
    box-sizing: border-box; /*width/height와 padding을 동시에 선언해도 사이즈가 늘어나지 않음*/
}

.IT strong {
    font-weight: 700;
    color: #FFFFFF;
}

.IT p {
    color: #FFFFFF;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    margin: 20px 0 40px 0;
} 

.IT a {
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 20px; /*높이의 절반 값*/
    padding: 9px 22px;
    display: inline-block /*인라인 요소 a태그에 padding/border를 적용하기 위해서 준 값*/;
}

.bbs {
    margin: 228px 0 131px 0;
}

.bbs p {
    color: #3d3d3d;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0 0 97px 0;
}

.bbs p span {
    color: #999999;
} 

.bbs ul {
    display: flex;
}

.bbs ul li {
    width: 290px;
    margin: 0 40px 0 0;
}

.bbs ul li.last { /*li라는 태그 중에서 last라는 클래스 명을 가진 li*/
    margin: 0;
}

.bbs ul li a {
    color: #3d3d3d;
    text-decoration: none;
    display: block;
}

.bbs ul li a img {
    border-radius: 20px;
    border: 1px solid #999999;
    width: 100%;
    box-sizing: border-box;
}

.bbs ul li a strong {
    display: block;
    font-size: 20px;
    font-weight: 700; 
    margin: 15px 0 15px 0;
}

.bbs ul li a span {
    display: block;
    color: #999999;
}

.bbs .more {
    text-align: center;
    margin: 117px 0 0 0;
}

.bbs .more a {
    color: #3d3d3d;
    text-decoration: none;
    border: 1px solid #3d3d3d;
    border-radius: 20px; /*높이의 절반 값*/
    padding: 9px 22px;
    display: inline-block /*인라인 요소 a태그에 padding/border를 적용하기 위해서 준 값*/;   
}

.banner {
    margin: 0 0 100px 0;
}

.banner ul {
    display: flex;
}

.banner ul li {
    width: 620px;
    height: 167px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 40px 40px 40px;
    box-sizing: border-box;
}

.banner ul li.partner { /*li태그 중에서 partner라는 클래스 명을 가진 ii*/
    background-color: #04C75B; 
    margin: 0 40px 0 0;
}

.banner ul li.career { /*li태그 중에서 partner라는 클래스 명을 가진 ii*/
    background-color: #08B4EB; 
}

.banner ul li .tit strong{
    color: #FFFFFF;
    font-weight: 700;
}

.banner ul li .tit p{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    margin: 25px 0 0 0;
}

.banner ul li a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #3d3d3d;
    border-radius: 20px; /*높이의 절반 값*/
    padding: 9px 22px;
    display: inline-block /*인라인 요소 a태그에 padding/border를 적용하기 위해서 준 값*/;
}