@import url('default.css');
@import url('common.css');

/* 메인에 있는 스타일만 정의 */

.visual {
    position: relative;
    height: 100vh; /* 브라우저 높이의 100% */
    background: url(../images/main/visual_bg.png) no-repeat center center / cover;
    color: #FFF;
}
.visual .visual_wrap {
    position: absolute;
    left: calc(50% - 700px);
    top: 50%;
    transform: translate(0, -50%); 
    /* 해당요소의 넓이와 높이를 계산해서 그 값의 50%를 왼쪽 오른쪽으로 이동 
       top: 50%;을 주면 위아래 가운데에서 시작해서 아래로 콘텐츠가 배치됨
       콘텐츠의 위아래 여백을 동일하게 주려면 (즉, 콘텐츠가 자기 높이의 절반이 위로 이동)
       transform: translate(좌우이동값, 위아래이동값:-50%)을 주면 됨.
    */
}
.visual h2 {
    margin: 0 0 44px 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
}
.visual h2 strong {
    display: block;
    margin: 17px 0 0 0;
    font-weight: 700;
}
.visual .search {
    width: 460px;
    height: 60px;
    border: 2px solid #FFF;
    border-radius: 30px;
}
.visual .search label {
    display: none; /* 접근성 때문에 준 태그 */
}
.visual .search input[type="text"] {
    /* <input type="text" />라고 되어 있는 태그만 지칭 */
    float: left;
    width: 370px;
    height: 55px;
    margin: 0 0 0 30px;
    border: 0;
    outline: 0; /* focus가 되었을때 테두리 생성되는 것 삭제 */
    background-color: transparent;
    font-size: 20px;
}
.visual .search input[type="text"]::placeholder {
    color: rgba(255,255,255,0.5);
}
.visual .search .btn {
    float: left; /* 키워드입력란하고 버튼 사이여백 삭제 */
    width: 55px;
    height: 55px;
}
.visual .search input.btn {
    border: 0; 
    background-color: transparent;
    background-image: url(../images/main/search_ico.svg);
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0; /* 버튼 글자 없애기 */
    cursor: pointer; /* 마우스 오버시 손바닥 모양 */
}
.visual .search button.btn span {
    display: none;
}
.visual .search button.btn i {
    margin: 3px 0 0 0;
    font-size: 21px;
}

@media screen and (max-width:640px){
    .visual {
        height: 346px;
    }
    .visual .visual_wrap {
        left: 20px;
    }
    .visual h2 {
        margin: 0 0 25px 0;
        font-size: 20px;
    }
    .visual h2 strong {
        margin: 8px 0 0 0;
    }
    .visual .search {
        width: 224px;
        height: 39px;
        border-radius: 20px;
    }
    .visual .search input[type="text"] {
        /* <input type="text" />라고 되어 있는 태그만 지칭 */
        width: 170px;
        height: 35px; /* search 높이 - border값 */
        margin: 0 0 0 17px;
        font-size: 13px;
    }
    .visual .search .btn {
        width: 31px;
        height: 35px;
    }
    .visual .search input.btn {
        background-size: 13px; 
        /* 사이즈를 하나만 입력하면 넓이가 조정됨 - 높이는 비율에 맞게 알아서 조절 */
    }
    .visual .search button.btn i {
        margin: 4px 0 0 0;
        font-size: 13px;
    }
}

.part {
    margin: 65px 0 0 0;
}
.part h2 {
    position: relative;
    margin: 0 0 26px 0;
    color: #1D1D1D;
    font-size: 45px;
    font-weight: 700;
}
.part h2::before {
    position: absolute;
    left: 0;
    top: -5px;
    width: 35px;
    height: 1px;
    background-color: #1D1D1D;
    content: "";
}
.part .list ul {
    width: 2400px; 
    /* 모든 li의 넓이 + 여백을 합한 넓이 
        li의 넓이 440px + 오른쪽 여백 40px = 480px * li의 숫자 5 = 2400 */
    margin-left: -480px; /* 하나의 li의 넓이 + 여백 */
}
.part .list ul li {
    float: left;
    width: 440px;
    margin: 0 40px 0 0;
}
.part .list ul li a {
    display: block;
}
.part .list ul li a .pic {
    overflow: hidden; 
    /* 마우스 오버시 이미지가 확대 되는데 영역 밖으로 이미지가 나가지 않도록 */
    font-size: 0;
    line-height: 0;
    /* 이미지하단에 발생하는 여백 삭제 */
}
.part .list ul li a h3 {
    margin: 18px 0 10px 0;
    font-size: 25px;
    font-weight: 700;
}
.part .list ul li a p {
    line-height: 1.5;
    height: 3em;
    overflow: hidden;
}
.part .list ul li a .pic img {
    width: 100%;
    transition: 0.5s;
}
/* 마우스 오버했을때 */
.part .list ul li a:hover .pic img {
    transform: scale3d(1.2, 1.2, 1);
}

.part .more {
    position: absolute;
    right: 0;
    top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 38px;
    padding: 0 14px 0 14px;
    border: 1px solid #666666;
    border-radius: 19px;
}
.part .more i {
    color: #666666;
    font-size: 11px;
}
.part .more:hover {
    border: 1px solid #0059A8;
    background-color: #0059A8;
    color: #FFF;
}
.part .more:hover i {
    color: rgba(255,255,255,0.8);
}
@media screen and (max-width:640px){ 
    .part {
        margin: 60px 0 0 0;
    }
    .part h2 {
        margin: 0 0 23px 0;
        font-size: 25px;
    }
    .part h2::before {
        width: 21px;
    }
    .part .list {
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 10px; /* 가로 스크롤바가 글자에 겹쳐서  */
    }
    .part .list ul {
        width: 1104px; 
        /* 모든 li의 넓이 + 여백을 합한 넓이 
            li의 넓이 208px + 오른쪽 여백 16px = 224px * li의 숫자 5 = 1120 */
        margin-left: 0; /* 모바일은 첫번째 li부터 나타남 */
    }
    .part .list ul li {
        width: 208px;
        margin: 0 16px 0 0;
    }
    .part .list ul li:last-child {
        margin-right: 0;
    }
    .part .list ul li a h3 {
        margin: 16px 0 7px 0;
        font-size: 20px;
    }
    
    .part .more {
        top: 2px;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 15px;
    }
    .part .more span {
        display: none; /* 글자 숨기기 */
    }
}

.notice {
    height: 518px; 
    /* 가장 큰 요소인 공지사항 리스트가 absolute임
       절대 높이를 알 수가 없음 */
    margin: 110px 0 0 0;
}
.notice ul.notice_wrap {
    position: relative; /* detail, more 기준 */
}
.notice ul.notice_wrap > li {
    float: left;
    margin: 0 45px 0 0;
}
.notice ul li h2 {
    color: #999999;
    font-size: 45px;
    font-weight: 700;
}
.notice ul li.active h2 {
    position: relative;
    color: #1D1D1D;
}
.notice ul li.active h2::before {
    position: absolute;
    left: 0;
    top: -5px;
    width: 35px;
    height: 1px;
    background-color: #1D1D1D;
    content: "";
}
.notice ul li .detail {
    display: none;
    position: absolute;
    left: 0;
    top: 88px;
    width: 100%;
}
.notice ul li.active .detail {
    display: block;
}
.notice ul li .detail ul {
    /* 넓이가 모든 li를 포함할 수 있도록
     (li의 넓이 440 + 여백 40) * li의 숫자 5 = 2400 */
    width: 2400px;
    margin-left: -480px; /* 하나의 li의 넓이와 여백값 */
}
.notice ul li .detail ul li {
    float: left;
    width: 440px;
    margin: 0 40px 0 0;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    transition: transform 0.5s;
    /* transition 자연스럽게 변하는 효과를 
       하나의 속성에만 적용 */
}
.notice ul li .detail ul li a {
    display: block;
    height: 340px;
    padding: 36px 30px 0 30px;
}
.notice ul li .detail ul li a .date {
    display: block;
    color: #666666;
}
.notice ul li .detail ul li a h3 {
    margin: 35px 0 20px 0;
    font-size: 25px;
    font-weight: 700;
    /* 무조건 2줄 */
    overflow: hidden;
    line-height: 1.2;
    height: 2.4em;
}
.notice ul li .detail ul li a p {
    margin: 0 0 45px 0;
    /* 무조건 3줄 */
    overflow: hidden;
    line-height: 1.5;
    height: 4.5em;
}
.notice ul li .detail ul li a .btn {
    display: flex;
    align-items: center;
    color: #666666;
}
.notice ul li .detail ul li a .btn i {
    margin: 0 0 0 15px;
    font-size: 8px;
}
/* 공지사항에 마우스를 올렸을때 */
.notice ul li .detail ul li:hover {
    border-color: #0059A8;
    background-color: #0059A8;
    color: #FFF;
    /* 오버했을때 li가 왼쪽 상단으로 이동
       - 다른 요소에 영향을 끼치면 안됨 */
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}
.notice ul li .detail ul li:hover a .date {
    color: rgba(255,255,255,0.8);
}
.notice ul li .detail ul li:hover a .btn {
    color: rgba(255,255,255,0.8);
}
.notice ul li .more {
    position: absolute;
    right: 0;
    top: 21px;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 38px;
    padding: 0 14px 0 14px;
    border: 1px solid #666666;
    border-radius: 19px;
}
.notice ul li .more i {
    color: #666666;
    font-size: 11px;
}
.notice ul li .more:hover {
    border: 1px solid #0059A8;
    background-color: #0059A8;
    color: #FFF;
}
.notice ul li .more:hover i {
    color: rgba(255,255,255,0.8);
}
.notice ul li.active .more {
    display: flex;
}
@media screen and (max-width:640px){ 
    .notice {
        height: 345px; 
        margin: 75px 0 0 0;
    }
    .notice ul.notice_wrap > li {
        margin: 0 22px 0 0;
    }
    .notice ul li h2 {
        font-size: 25px;
    }
    .notice ul li.active h2::before {
        width: 21px;
    }
    .notice ul li .detail {
        top: 55px;
        padding-bottom: 10px;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .notice ul li .detail ul {
        /* 넓이가 모든 li를 포함할 수 있도록
         (li의 넓이 208 + 여백 16) * li의 숫자 5 = 1120 */
        width: 1104px; /* 1120 - 여백 1개값 */
        margin-left: 0; 
    }
    .notice ul li .detail ul li {
        width: 208px;
        margin: 0 16px 0 0;
    }
    .notice ul li .detail ul li:last-child {
        margin-right: 0;
    }
    .notice ul li .detail ul li a {
        height: 238px;
        padding: 22px 20px 0 20px;
    }
    .notice ul li .detail ul li a h3 {
        height: 3.6em;
        margin: 22px 0 15px 0;
        font-size: 17px;
    }
    .notice ul li .detail ul li a p {
        margin: 0 0 20px 0;
        height: 3em;
    }
    .notice ul li .detail ul li a .btn i {
        font-size: 7px;
    }
    /* 공지사항에 마우스를 올렸을때 */
    .notice ul li .detail ul li:hover {
        transform: translate(0, 0);
    }
    .notice ul li .more {
        top: 2px;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 15px;
    }
    .notice ul li .more span {
        display: none; /* 글자 숨기기 */
    }
}/* notice 반응형 종료 */


.book {
    position: relative;
    padding: 95px 0 0 0;
}
.book::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 442px;
    background-color: #242D36;
    content: "";
}
.book h2 {
    position: relative;
    margin: 0 0 40px 0;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}
.book h2::before {
    position: absolute;
    left: 0;
    top: -5px;
    width: 35px;
    height: 1px;
    background-color: #FFF;
    content: "";
}
.book .more {
    position: absolute;
    right: 0;
    top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 38px;
    padding: 0 14px 0 14px;
    border: 1px solid #FFF;
    border-radius: 19px;
    color: #FFF;
}
.book .more i {
    color: #FFF;
    font-size: 11px;
}
.book .more:hover {
    border: 1px solid #FFF;
    background-color: #FFF;
    color: #242D36;
}
.book .more:hover i {
    color: #242D36;
}
.book .list ul {
    /* 첫번째 li의 넓이 635px + 여백 30px +
       두번째~마지막 li의 넓이 225px + 여백 30px = 255px * 4 */
    width: 1685px;
}
.book .list ul li {
    float: left;
    width: 225px;
    margin: 46px 30px 0 0;
}
.book .list ul li a {
    display: block;
}
.book .list ul li a .pic {
    overflow: hidden;
    border: 1px solid #CCCCCC;
    font-size: 0;
    line-height: 0;
}
.book .list ul li a .pic img {
    width: 100%; /* pic의 넓이만큼 들어감 */
    transition: 0.5s;
}
.book .list ul li a:hover .pic img {
    transform: scale3d(1.2,1.2,1);
}
.book .list ul li a .cnt h3 {
    margin: 15px 0 0 0;
    font-size: 20px;
    font-weight: 400;
    /* 2줄 */
    overflow: hidden;
    line-height: 1.2;
    height: 2.4em;
}
.book .list ul li a .cnt p {
    display: none;
}
/* 첫번째 li만 스타일이 다름 */
.book .list ul li:first-child {
    width: 635px;
    margin-top: 0;
}
.book .list ul li:first-child a .pic {
    float: left;
    width: 302px;
}
.book .list ul li:first-child a .cnt {
    padding: 27px 0 0 0;
    margin: 0 15px 0 332px;
    color: #FFF;
}
.book .list ul li:first-child a .cnt h3 {
    margin: 0;
    font-size: 30px;
}
.book .list ul li:first-child a .cnt p {
    display: block;
    margin: 18px 0 0 0;
}

@media screen and (max-width:640px){ 
    .book {
        padding: 48px 0 0 0;
    }
    .book::before {
        height: 226px;
    }
    .book h2 {
        margin: 0 0 33px 0;
        font-size: 25px;
    }
    .book h2::before {
        width: 21px;
    }
    .book .more {
        top: 2px;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 15px;
    }
    .book .more span {
        display: none; /* 글자 숨기기 */
    }
    .book .list {
        overflow-x: auto; /* 좌우 */
        overflow-y: hidden; /* 위아래 */
    }
    .book .list ul {
        /* li의 넓이 152px + 여백 16px = 168px * 5 = 840px - 16px */
        width: 824px;
        padding-bottom: 10px;
    }
    .book .list ul li {
        width: 152px;
        margin: 0 16px 0 0;
    }
    .book .list ul li:last-child {
        margin-right: 0;
    }
    .book .list ul li a .cnt h3 {
        margin: 10px 0 0 0;
        font-size: 15px;
    }
    /* 첫번째 li만 스타일이 다름 */
    .book .list ul li:first-child {
        width: 152px;
    }
    .book .list ul li:first-child a .pic {
        float: none;
        width: auto;
    }
    .book .list ul li:first-child a .cnt {
        padding: 0;
        margin: 0;
        color: #3D3D3D;
    }
    .book .list ul li:first-child a .cnt h3 {
        margin: 10px 0 0 0;
        font-size: 15px;
    }
    .book .list ul li:first-child a .cnt p {
        display: none;
    }
}/* book 반응형 */

.banner {
    margin: 140px 0 113px 0;
}
.banner ul li {
    float: left;
    width: 680px;
    margin: 0 40px 0 0;
    color: #FFF;
}
.banner ul li:last-child {
    margin-right: 0;
}
.banner ul li.edu {
    background-color: #68A5D6;
}
.banner ul li.people {
    background-color: #0059A8;
}
.banner ul li a {
    display: block;
    position: relative;
    height: 160px;
    padding: 40px 0 0 50px;
}
.banner ul li a i {
    position: absolute;
    right: 70px;
    top: 48px;
    font-size: 63px;
    color: rgba(255,255,255,0.3);
}
.banner ul li a h2 {
    margin: 0 0 5px 0;
    font-size: 30px;
    font-weight: 700;
}
@media screen and (min-width:641px){ 
    /* pc버전에서만 적용 */
    .banner ul li {
        transition: 0.5s;
    }
    .banner ul li:hover {
        box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
        transform: translate(-10px, -10px);
    }
}
@media screen and (max-width:640px){ 
    .banner {
        margin: 25px 0 55px 0;
    }
    .banner ul li {
        /* li와 li 사이 중간여백의 합 = 16px / li의 수 */
        width: calc(50% - 8px);
        margin: 0 16px 0 0;
    }
    .banner ul li a {
        padding: 28px 0 0 0;
        text-align: center;
    }
    .banner ul li a i {
        position: relative;
        right: auto;
        top: auto;
        font-size: 40px;
    }
    .banner ul li a h2 {
        margin: 20px 0 0 0;
        font-size: 20px;
        line-height: 1.2;
    }
    .banner ul li a h2 span {
        display: block;/* 줄바꿈 */
    }
    .banner ul li a p {
        display: none;
    }
}/* banner 반응형 종료 */