/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap'); /* 본명조 */
html, body {
    color: $basic_color;
    line-height: 1.5;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어별 줄바꿈 */
}

#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 320px;
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /* 1400px 이하부터 320px까지 모든 사이즈 반응형 
       1400px 일때에도 좌우에 여백은 유지해야함 
       (1400이상에서 1400px이하로 변경되는 점 - 반응형으로 전환되는점)
       부드럽게 여백을 유지하면서 전환
       원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
       1400px이 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1440px이 넓이
       padding으로 좌우에 여백을 20px씩 줌  */
}
@media screen and (max-width:1000px){
    html, body {
        font-size: 14px;
    }
}
@media screen and (max-width:640px){
    html, body {
        font-size: 13px;
    }
}/* media 종료 */
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
.cnt_wrap {
    position: relative;
}

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000000000;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #0059A8;
    color: #FFF;
    text-align: center;
}
.skip_nav a:focus {
    top: 0;
}

/* 브라우저에서 글자를 드래그했을대 드래그한 영역의 색과 글자색
  -moz- -webkit- 이 앞에 붙은 속성은 표준화 되지 않은 속성  */
::selection{background:#CBA585;color:#3E3E3F;}
::-moz-selection{background:#CBA585;color:#3E3E3F;}
::-webkit-selection{background:#CBA585;color:#3E3E3F;} 

.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 300;
    width: 100%;
    height: 100px;
    transition: 0.5s;
    
    .logo {
        float: left;
        margin: 30px 0 0 40px;
        svg {
            width: 161px;
            text {
                fill: #FFF;
            }
        }
    }
    .gnb {
        float: right;
        margin: 0 40px 0 0;
        .gnb_open {
            display: none;
        }
        .gnb_wrap {
            ul {
                li {
                    float: left;
                    a {
                        display: block;
                        padding: 0 24px;
                        color: $w_tit_color;
                        font-size: 22px;
                        line-height: 100px; /* header의 높이 */
                    }
                }
            }
        }
    }
    &.fixed { //header.fixed header에 fixed 클래스가 추가됐을때 - header 고정 
        position: fixed;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); //브라우저 호환성 때문에 
        background-color: rgba(0,0,0,0.1);
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
}
@media screen and (max-width:1440px){
    .header .logo a svg {
        width: 130px;
    }
    .header .gnb .gnb_wrap ul li a {
        font-size: 18px;
    }
}
@media screen and (max-width:1440px){
    .header .logo a svg {
        width: 120px;
    }
    .header .gnb .gnb_wrap ul li a {
        padding: 0 15px;
        font-size: 17px;
    }
}

@media screen and (max-width:1000px){
    .header {
        height: 60px;
        .logo {
            margin: 16px 0 0 20px;
            a svg {
                width: 108px;
            }
        }
        .gnb {
            margin: 0;
            .gnb_open {
                display: block;
                position: relative;
                z-index: 2;
                width: 60px;
                height: 60px;
                strong {
                    display: none;
                }
                span {
                    position: absolute;
                    right: 20px;
                    width: 21px;
                    height: 2px;
                    background-color: #FFF;
                    transition: 0.3s;
                    &.line1 {   /*  span.line1  */
                        top: 25px;
                    }
                    &.line2 {
                        top: 32px;
                        width: 16px;
                    }
                    &.line3 {
                        top: 39px;
                    }
                }
            }
            .gnb_wrap {
                display: block;
                position: fixed;
                right: -100%;
                top: 0;
                z-index: 1;
                width: 100%;
                max-width: 375px;
                height: 100vh;
                background-color: #FFF;
                color: #3d3d3d;
                transition: right 0.5s;
                ul {
                    margin: 60px 0 0 0;
                    li {
                        float: none;
                        border-bottom: 1px solid #f4f4f4;
                        a {
                            @include font_serif;
                            padding: 0;
                            color: $basic_color;
                            font-size: 22px;
                            line-height: 55px;
                            text-align: center;
                        }
                        &:first-child {
                            border-top: 1px solid #F4F4F4;
                        }
                    }
                }
            }
            &::after {
                /* 
                    화면에 꽉차는 배경은 
                    position:fixed 
                    left, right, top, bottom 사방을 모두 0으로 주면 
                    left:0; top:0; width:100%; height:100%;와 동일하게 들어감.

                    <div class="gnb">
                        <button class="gnb_open"></button>
                        <div class="gnb_wrap"></div>
                        ::after -- gnb::after
                    </div>
                    이런구조에서 
                    gnb_open과 gnb_wrap, gnb::after의 순서를 조정할 수 있음
                    z-index는 이렇게 나란히 들어간 요소들 사이에서 높은 숫자가 위로 올라감

                    <button class="gnb_open"></button>
                    <div class="gnb_wrap">
                        ::after -- gnb_wrap::after
                    </div>
                    이런 구조라면 gnb_wrap::after는 gnb_wrap안에 존재하기 때문에 
                    그 밖에 있는 gnb_open, gnb_wrap과의 순서를 절대 조정 불가능함

                */
                display: none;
                opacity: 0;
                transition: opacity 0.5s;
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100vh;
                background-color: rgba(0,0,0,0.7);
                content: "";
            }
            // 모바일 메뉴가 열렸을때
            &.mobile_open {
                .gnb_open {
                    span {
                        width: 25px;
                        background-color: #3d3d3d;
                        &.line1 {   /*  span.line1  */
                            top: 30px;
                            transform: rotate(45deg);
                        }
                        &.line2 {
                            right: -27px;
                        }
                        &.line3 {
                            top: 30px;
                            transform: rotate(-45deg);
                        }
                    }
                }
                .gnb_wrap {
                    right: 0;
                }
                &::after {
                    display: block;
                    opacity: 1;
                }
            }
        }//gnb 종료
    }
}

.footer {
    @include clearfix;
    padding: 65px 0;
    background-color: #33302D;
    color: $w_basic_color;
    .sns {
        float: right;
        ul {
            li {
                float: left;
                a {
                    display: block;
                    position: relative;
                    width: 49px;
                    height: 49px;
                    border-width: 1px 1px 1px 0;
                    border-style: solid;
                    border-color: rgba(255,255,255,0.1);
                    font-size: 0;
                    line-height: 0;
                    &::before {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        /* 배경이미지가 한개를 보이는 영역을 제한해서 써야하기 때문에
                           before, after에서 표시.
                           이때 before, after의 사이즈는 내가 사용할 아이콘의 넓이
                           - 저장할때 활용된 아이콘의 넓이 */
                        width: 30px;
                        height: 30px;
                        background-image: url(/design01/bntailor/images/common/footer_ico.svg);
                        background-repeat: no-repeat;
                        content: "";
                    }
                }
                &:first-child {
                    a {
                        border-left-width: 1px;
                    }
                }
                &.facebook a::before {
                    background-position: left top;
                }
                &.instagram a::before {
                    background-position: left -30px top;
                }
                &.naver a::before {
                    background-position: left -60px top;
                }
            }//li종료
        }
    }
    .inner {
        float: left;
        .finfo {
            span {
                display: inline-block;
                margin: 0 25px 5px 0;
            }
        }
        .copyright {
            margin: 25px 0 0 0;
            color: $w_dark_light_color;
        }
    }
}

@media screen and (max-width:1000px){
    .footer {
        padding: 58px 0 95px 0;
        .sns {
            @include clearfix;
            float: none;
            margin: 0 0 20px 0;
        }
        .inner {
            float: none;
            .finfo {
                span {
                    margin: 0 15px 5px 0;
                }
            }
        }
    }
}
