@import "_var.scss";
@import "_default.scss";
@import "_common.scss";

/*
    scss 내에서 import할 default와 common 등의 파일은 
    파일명 앞에 _(언더바)를 입력하면 sass 컴파일러가 해당 파일은 컴파일 하지 않음
    main.css나 sub.css에서 default, common을 필요에 따라서 import 해서 사용하면 됨.
*/

.visual {
    position: relative;
    .tit {
        position: absolute;
        left: calc(50% - 700px);
        top: 50%;
        z-index: 10;
        color: #FFF;
        transform: translate(0, -50%);
        strong {
            display: block;
        }
        h2 {
            @include font_serif; 
            /*mixin으로 선언한font_serif 스타일을 불러오는 명령 
              @mixin fint_serif로 선언된 스타일이 그대로 들어옴
              <무조건 @mixin이 @include보다 먼전 선언되어야 함.>
              (import로 먼저 mixin을 불렀기때문에 mixin이 먼저
              선언된 것 맞음)*/
            font-size: 60px;
            font-weight: 700;
            line-height: 1.2;
        }
    }
    .popup { /* .visual .popup */
        height: 100vh;
        .btn_wrap {
            position: absolute;
            left: calc(50% - 700px);
            top: calc(50% + 110px);
            z-index: 10;
            .btn_paging {
                span {
                    opacity: 0.7;
                    width: 70px;
                    height: 4px;
                    background-color: #FFF;
                    border-radius: 0;
                    &.swiper-pagination-bullet-active {
                    /*만약 li:last-child::after일 경우
                      li {
                        &:last-child {
                            &::after {}
                        }
                      }
                      
                    */
                        opacity: 1;
                    }
                }
            }
        }
    }
}