/* 본고딕 폰트 스타일 삽입 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap');

/* 모든 태그에 브라우저에서 주는 여백을 삭제 */
body, header, footer, div, nav, section, h1, h2, h3, h4, h5, h6, button, a, ul, li, address, strong, span, em, p {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*넓이와 높이,padding이 결합되면 사이즈가 늘어남 > 이걸 막는 스타일 : padding을 줘도 넓이와 높이가*/
}

/* a태그에 브라우저가 주는 기본 속성 초기화(inherit:상속받게해주는태그) */
a {
    color: inherit;
    text-decoration: none;
}

/* 브라우저에서 기울임을 주는 것을 초기화 */
em, address {
    font-style: normal;
}

ul, li {
    list-style: none;
}

html, body {
    min-width: 1280px; /*브라우저에서 가로스크롤이 생성되었을때 배경이 짤리지 않기 위해 최소 넓이를 줌*/
    color: #3D3D3D;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.05em;
    word-break: keep-all;
}

/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

@media screen and (max-width:450px){
    html, body {
        min-width: auto;
        font-size: 13px;
    }
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}