@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
body, header, footer, div, nav, section, h1, h2, h3, h4, h5, h6, button, a, ul, li, address, strong, span, em, p, i {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
em, address {
    font-style: normal;
}
ul, ol,li {
    list-style: none;
}
button {
    background-color: transparent; /*transparent투명*/
    border: 0;
    font-family: inherit;/*서체상속 - button은 body에서 지정한 서체를 상속받지 않기 때문에 (form관련 태그는 이하동문)*/
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    cursor: pointer; /*마우스 오버 시 손바닥 모양*/
}
html, body {

    color: #3D3D3D;
    font-family: 'Poppins', 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    /* 폰트 적용 우선순위
    을유 웹폰트 우선적용 - 만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
    apple sd gothic - 아이폰에서 지원하는 폰트 */
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.05em;
    /* 1em - 글자1개의크기/브라우저가 정의하는 글자크기 
        ex) body 1em: 16px
        header 2em: 32px (감싸는 태그에 부여해준 px이 1em이 됨)
        header nav 0.5em: 16px*/
    /* rem - 절대크기
        body {font-size:20px} - 1rem
        header {2rem} - 40px
        header {0.5rem} - 10px */
    line-height: 1.2;
    word-break: keep-all;
}
#wrap {
    overflow: hidden;
    min-width: 1280px;
}
.wrapper {
    width: 1280px;
    margin: 0 auto;
}
@media screen and (max-width:640px) { 
    html, body {
        font-size: 13px;
    }
    #wrap {
        min-width: auto;
    }
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}
