@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR); /*항상 맨 위에 위치*/

body, section, p, div, ul, li, h1, h2, h3, h4, h5, h6, nav { /*body,section 등의 모든 태그에 동일한 스타일 적용(여백 제거)*/
    padding: 0;
    margin: 0;
}

ul,li {
    list-style: none;/*ul태그 앞에서 동그라미 삭제*/
}

body {
    color: #3d3d3d; 
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    letter-spacing: -0.05em;
    font-weight: 400;
}

a {
    color: #3d3d3d;
    text-decoration: none;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

header {
    height: 100px;
}
/* header영역은 대부분 높이를 입력함 */

header h1 {
    float: left;
    margin: 21px 0 0 0;
}

header nav {
    float: right;
    margin: 28px 0 0 0;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block; 
    /* a가 인라인 요소라서 padding을 적용하기 위해서 */
    padding: 19px;
    /* 마진이아니고 패딩을 준 이유는 메뉴에서 더 큰 영역으로 클릭할 수 있게 만드려고 */
    color: #1d1d1d;
    font-size: 20px;
    line-height: 1.1;
}

.visual {
    background-image: url(../images/visual_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 800px;
}
.visual strong {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 400;
}

.visual p {
    color: #ffffff;
    font-size: 50px;
    line-height: 1.2;
}