@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR); /*항상 맨 위에 위치*/

body, section, p, div, ul, li, h1, h2, h3, h4, h5, h6, nav, button, header, footer { /*body,section 등의 모든 태그에 동일한 스타일 적용(여백 제거)*/
    padding: 0;
    margin: 0;
}

ul,li {
    list-style: none;/*ul태그 앞에서 동그라미 삭제*/
}

em, address {
    font-style: normal;
    /* em태그가 기본적으로 글자가 기울어져있음 > 'font-style: normal;'로 해결 */
}

button {
    background-color: transparent;
    /* 배경투명 */
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    cursor: pointer;
    /* 마우스를 오버하면 손바닥 모양으로 변경 */
}

.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}

.clearfix{display:block;}

body {
    min-width: 1280px; 
    /* wrapper에서 준 넓이를 body에서 최소 넓이로 부여 */
    color: #3d3d3d; 
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    letter-spacing: -0.05em;
    font-weight: 400;
}

a {
    color: inherit;
    /* 브라우저가 정의하는 파란색은 적용하지 않고, 부모요소가 정의한 색상을 따르겠다는 뜻 */
    text-decoration: none;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

header {
    height: 100px;
}
/* header영역은 대부분 높이를 입력함 */

header h1 {
    float: left;
    margin: 24px 0 0 0;
}

header nav {
    float: right;
    margin: 28px 0 0 0;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block; 
    /* a가 인라인 요소라서 padding을 적용하기 위해서 */
    padding: 19px;
    /* 마진이아니고 패딩을 준 이유는 메뉴에서 더 큰 영역으로 클릭할 수 있게 만드려고 */
    color: #1d1d1d;
    font-size: 20px;
    line-height: 1.1;
}

.visual {
    background-image: url(../images/visual_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 800px;
}

.visual h2 {
    display: none;
    /* 해당 태그를 사용하지 않은 것처럼 숨김 - 공간을 차지하지 않음 */
}

.visual strong {
    display: block;
    /* strong이 inline tag라서 margine이 적용되지 않음 > block 요소로 변경 */
    padding: 267px 0 10px 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 400;
}

.visual p {
    color: #ffffff;
    font-size: 50px;
    line-height: 1.2;
}

.visual p em {
    font-weight: 700;
}

.promotion .art {
    margin: 80px 0 80px 0;
}

.promotion .art img {
    float: left;
}

.promotion .art .inner {
    float: left;
    margin: 80px 0 0 90px;
}

.promotion .lee {
    margin: 0 0 80px 0;
}

/* 두 요소에 float: right;를 주면 코딩 순서와 역순으로 요소들이 오른쪽에 정렬  */
.promotion .lee img {
    float: right;
}

.promotion .lee .inner{
    float: right;
    margin: 80px 90px 0 0;
}

.promotion h2 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
}

.promotion p {
    margin: 25px 0 38px 0 ;
}

.promotion p strong {
    display: block;
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 700;
}

.promotion a{
    display: inline-block;
    float: left ;
    margin: 0 5px 0 0;
    padding: 7px 26px;
    border: 1px solid #666666;
}

.bbs {
    background-image: url(../images/bbs_bg.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.bbs .notice {
    /* notice 글자는 대부분 흰색 - 내부요소에 스타일을 상속 */
    color: #ffffff;
}

.bbs .notice .tit {
    float: left;
    margin: 49px 0 0 0;
}

.bbs .notice .tit h2 {
    font-size: 50px;
    font-weight: 700;
}

.bbs .notice .tit a {
    display: inline-block;
    padding: 7px 26px;
    border: 1px solid #ffffff ;
}

.bbs .notice .tit p {
    margin: 10px 0 29px 0;
}

.bbs .notice ul {
    float: right; 
    width: 840px;
    margin: 82px 0 0 0;
}

.bbs .notice ul li {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.bbs .notice ul li.first {
    border-top: 1px solid rgba(255,255,255,0.2);
}

.bbs .notice ul li a {
    padding: 15px 34px 15px 15px;
}

.bbs .notice ul li a strong {
    float: left;
    font-size: 20px;
    font-weight: 400;
}

.bbs .notice ul li a span {
    float: right;
    margin: 5px 0 0 0;
    color: rgba(255,255,255,0.7);
}

.bbs .movie {
    margin: 109px 0 86px 0;
}

.bbs .movie h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
}

.bbs .movie ul li {
    float: left;
    width: 400px;
    margin: 47px 40px 0 0;
}

.bbs .movie ul li.last {
    margin: 47px 0 0 0;
}

.bbs .movie ul li a {
    display: block;
}

.bbs .movie ul li a span {
    display: block;
    margin: 5px 0 0 12px;
}

.bbs .movie ul li a strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 3px 0 0 10px;
}

footer {
    overflow: hidden;
    /* footer하단에 생선된 의도하지 않은 여백 삭제를 위해 -가로스크롤을 해도 배경이 정상적으로 나오게 처리  */
    margin-top: 81px;
    background-color: #0a0a0a;
    color: rgba(255,255,255,0.8);
}

footer .inner {
    float: left;
    padding: 54px 0 66px 0;
}

footer .fnav li {
    float: left;
}
footer .fnav li a {
    display: block;
    padding: 0 12px;
}

footer .fnav li.privacy a {
    /* li중에서 privacy라는 클래스명을 갖은 li의 내부에 있는 a */
    padding-left: 0;
    font-weight: 700;
}

footer .info {
    margin: 22px 0 5px 0;
}

footer .info address {
    display: inline;
}
footer .info span {
    display: inline-block;
    margin: 0 0 0 24px;
}

footer button {
    /* button tag에 넓이와 높이를 주면 글자가 좌우와 위아래 가운데 정렬 */
    float: right;
    width:  160px;
    height: 37px;
    margin: 61px 0 0 0;
    padding-left: 10px;
    border: 1px solid rgba(255,255,255,0.8);
}     

footer button strong {
    float: left;
    font-weight: 400;
}

footer button span {
    float: right;
}