@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/* common.css - 모든 페이지에 공통으로 들어가는 스타일 (header/footer) */

html, body {
    color: #3D3D3D;
    line-height: 1.2;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    font-size: 15px;
    font-weight: 400;
    word-break: keep-all; 
}
#wrap { 
    overflow: hidden;
    position: relative;
    min-width: 1400px;
}
.wrapper {
    width: 1400px;
    margin: 0 auto;
}
@media screen and (max-width:640px){
    html, body {
        font-size: 13px;
    }
    #wrap {
        min-width: 320px;
    }
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    /* z-index가 높은 숫자가 위로 올라옴 header 아래 콘텐츠 요소는 z-index가 필요하면 100이하의 값을 줌 (header가 무조건 위에 있어야함) */
    width: 100%;
    /*position-absolute를 주면 요소가 inline태그처럼 콘텐츠가 존재하는 만큼만 넓이를 갖기때문에
    block태그처럼 사용하려면 반드시 넓이를 100% 줘야함(width:100%;)*/
    height: 100px;
    color: #FFFFFF;
}
.header .logo {
    position: absolute;
    left: 40px;
    top: 20px;
    z-index: 103;
}
.header .logo a {
    display: block;
    width: 151px;
    height: 44px;
    background-image: url(../images/common/logo_w.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /*contain-주어진 넓이와 높이에서 로고 전체가 짤리지 않고 최대한 꽉차게 나타게함 영역의 넓이와 높이가 변경되면 배경이미지 사이즈가 알아서 변경됨*/
    font-size: 0;
    line-height: 0;
}
.header .gnb {
    position: relative;
    z-index: 102;
}
.header .gnb .open {
    display: none;
}
.header .gnb .close {
    display: none;
}
.header .gnb > ul {
    /*li를 좌우로 배치할 때 float:left할 때는 li에게 부여
    하지만 flexbox 코딩은 좌우로 정렬할 때는 li를 감싸는 부모에게
    flex를 줘야함 (절대 조부모에게 줄 수는 없다)*/
    display: flex;
    justify-content: center; /*ul의 넓이 안에서 li들을 가운데 정렬*/
}
.header .gnb > ul > li {
    position: relative;
    width: 140px;
    text-align: center;
}
.header .gnb > ul > li > a {
    display: block;
    font-size: 20px;
    line-height: 100px;
}
.header .gnb > ul > li:hover > a {
    color: #ED1C24;
    font-weight: 700;
}
.header .gnb > ul > li:hover > a > span {
    position: relative;
}
.header .gnb > ul > li:hover > a > span::after {
    position: absolute;
    left: 0;
    bottom: -36px;
    width: 100%;
    height: 2px;
    background-color: #ED1C24;
    content: "";
}
.header .gnb > ul > li > ul {
    display: none; /*2차메뉴*/
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 257px;
    padding: 14px 0 0 0;
    /* 1차 메뉴 a와 2차 메뉴 ul 위아래 사이에눈 여백이 존재하면 안됨 메뉴가 out됨
    ul이 정확하게 a밑에 배치될 수 있도록 줘야함 하지만 실제 디자인에서 여백이
    존재한다면 이는 2차메뉴 ul의 상단 padding값으로 주면된다 padding은 내부 여백이라 실제 여백으로 판단하지 않음
    2차메뉴 ul의 높이는 일정한게 좋음 2차메뉴 사이를 좌우로 이동할 수 있어야함(out되면 안됨)-->높이값을 주면됨*/
}
.header .gnb > ul > li > ul > li > a {
    display: block;
    line-height: 2.5;
}
.header .gnb > ul > li > ul > li > a:hover {
    color: #ED1C24;
    font-weight: 700;
}
.header .lang {
    position: absolute;
    right: 40px;
    top: 39px;
    z-index: 103;
}
.header .lang button {
    width: 123px;
    height: 33px;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* button 내부 요소 i와 span태그 좌우 정렬, 위아래 가운데 배치 */
}
.header .lang button i {
    color: rgba(255,255,255,0.6);
    font-size: 20px;
}
.header .lang .close {
    display: none;
}
.header .lang ul {
    display: none;
    position: absolute;
    left: 0;
    top: 33px;
    width: 123px;
    height: 75px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    color: #3D3D3D;
    text-align: center;
}
.header .lang ul li:first-child {
    margin: 5px 0 0 0;
}
.header .lang ul li a {
    display: block;
    line-height: 2;
}
.header .lang ul li a:hover, 
.header .lang ul li.active a {
    color: #ED1C24;
    font-weight: 700;
}
/* lang열렸을때 */
.header .lang.lang_open ul {
    display: block;
}
.header .lang.lang_open .open {
    display: none;
}
.header .lang.lang_open .close {
    display: flex;
}
/* 메뉴에 마우스를 오버했을 떄 */
.header.menu_open {

    color: #FFFFFF;
}
.header.menu_open::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    width: 100%;
    height: 382px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    content: "";
}
.header.menu_open .logo a {
    background-image: url(../images/common/logo.svg);
}
.header.menu_open .gnb {
    color: #3D3D3D;
}
.header.menu_open .gnb > ul > li > ul {
    display: block; /*2차메뉴*/
}
.header.menu_open .lang button {
    border: 1px solid #666666;
}
.header.menu_open .lang button span {
    color: #3D3D3D;
}
.header.menu_open .lang button i {
    color: #666666;
}
@media screen and (max-width:640px) {
    .header {
        height: 45px;
    }
    .header .logo {
        left: 20px;
        top: 6px;
    }
    .header .logo a {
        width: 70px;
        height: 30px;
    }
    .header .gnb .open {
        display: block;
        float: right;
        padding: 17px 20px 5px 20px;
    }
    .header .gnb .open i {
        font-size: 20px;
    }
    .header .gnb .close {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        /* 코딩순서상 메뉴 뒤에 있지만 오른쪽 상단에 배치하기 위해서 */
        padding: 17px 20px 5px 20px;
    }
    .header .gnb .close i {
        font-size: 20px;
    }
    .header .gnb > ul {
        display: none;
        padding: 72px  20px 0 20px;
    }
    .header .gnb > ul > li {
        width: auto;
        text-align: left;
    }
    .header .gnb > ul > li > a {
        display: block;
        position: relative;
        font-size: 17px;
        line-height: 40px;
    }
    .header .gnb > ul > li > a::after {
        position: absolute;
        right: 0;
        top: 10px;
        color: #666666;
        font-family: 'Material Symbols Rounded';
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        content: "\e5cf";
    }
    .header .gnb > ul > li > ul {
        display: none; /*2차메뉴*/
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        height: auto;
        padding: 5px 0 5px 25px;
        background-color: #EDEDED;
    }
    /* 서브메뉴가 열림 */
    .header .gnb > ul > li.sub_open > ul {
        display: block;
        margin-bottom: 10px;
    }
    .header .gnb > ul > li.sub_open > a {
        color: #ED1C24;
        font-weight: 700;
    }
    .header .gnb > ul > li.sub_open > a::after {
        position: absolute;
        right: 0;
        top: 10px;
        color: #666666;
        font-family: 'Material Symbols Rounded';
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        content: "\e5ce";
    }
    .header .gnb > ul > li > ul > li > a {
        display: block;
        line-height: 2.5;
        font-size: 15px;
    }
    .header .gnb > ul > li > ul > li > a:hover {
        color: #ED1C24;
        font-weight: 700;
    }
    .header .lang {
        display: none;
        right: auto;
        left: 96px;
        top: 18px;
    }
    .header .lang button {
        display: none;
    }
    .header .lang ul {
        display: block;
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        height: auto;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        text-align: left;
    }
    .header .lang ul li:first-child {
        margin: 0;
    }
    .header .lang ul li {
        float: left;
    }
    .header .lang ul li:first-child {
        position: relative;
        margin-right: 9px;
    }
    .header .lang ul li:first-child::after {
        position: absolute;
        right: -6px;
        top: 5px;
        width: 1px;
        height: 10px;
        background-color: #CCCCCC;
        content: "";
    }
    .header .lang ul li a {
        line-height: 1.5;
    }
    /* lang열렸을때 */
    .header .lang.lang_open ul {
        display: block;
    }
    .header .lang.lang_open .open {
        display: none;
    }
    .header .lang.lang_open .close {
        display: flex;
    }
    /* 메뉴에 마우스를 오버했을 떄 */
    .header.menu_open {
    
        color: #FFFFFF;
    }
    .header.menu_open::before {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 101;
        width: 100%;
        height: 382px;
        background-color: #FFFFFF;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        content: "";
    }
    .header.menu_open .logo a {
        background-image: url(../images/common/logo.svg);
    }
    .header.menu_open .gnb {
        color: #3D3D3D;
    }
    .header.menu_open .gnb > ul > li > ul {
        display: block; /*2차메뉴*/
    }
    .header.menu_open .lang button {
        border: 1px solid #666666;
    }
    .header.menu_open .lang button span {
        color: #3D3D3D;
    }
    .header.menu_open .lang button i {
        color: #666666;
    }
    
    /* 모바일에서 메뉴가 열리면 header menu_mobile 클래스 추가
        1. gnb open 숨김 / gnb close 나타남
        2. 흰색이 전체에 꽉차게 들어감
        3. gnb ul 나타남
        4. logo 색상 변경 
        5. lang 나타남*/
    .header.menu_mobile {
        color: #3D3D3D;
    }
    .header.menu_mobile .logo a {
        background-image: url(../images/common/logo.svg);
    }
    .header.menu_mobile .gnb .open {
        display: none;
    }
    .header.menu_mobile .gnb .close {
        display: block;
    }
    .header.menu_mobile::before {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        content: "";
        /* position fixed는 무조건 body를 기준으로만 정렬 */
    }
    .header.menu_mobile .gnb > ul {
        display: block;
    }
    .header.menu_mobile .lang {
        display: block;
    }
}