/* 각각의 컨텐츠 페이지의 스타일을 저장 */

/* 회사소개 > CEO인사말 */
.cnt_ceo {
    position: relative;
}
/* 이미지가 콘텐츠 영역 안에도 있고, 일부가 밖에 나가는 디자인
    컨텐츠 영역 밖에 나간 이미지는 브라우저사이즈가 줄어들면 짤려도 상관없음
    position:absolute; left/right:50%; 가운데를 기준으로 정렬해서 배치함
    --> 브라우저 사이즈가 변경되도 변하지 않는 위치는 가운데 이기 때문에
    --> 왼쪽에 이미지가 있으면 right:50%; margin-right:여백;
    --> 오른쪽에 이미지가  있으면 left:50%; margin-left:여백; */
.cnt_ceo .ceo_pic {
    position: absolute;
    right: 50%;
    top: 0;
    margin-right: 140px;
}
.cnt_ceo .inner {
    margin: 0 0 0 600px;
}
.cnt_ceo .tit {
    margin: 0px 0 28px 0;
    font-size: 25px;
    line-height: 24px;
    font-weight: 700;
}
.cnt_ceo .tit strong {
    color: #ED1C24;
}
.cnt_ceo .sign {
    margin: 43px 0 0 0;
    text-align: right;
}
@media screen and (max-width:640px) {
    .cnt_ceo .ceo_pic {
        display: none;
    }
    .cnt_ceo .inner {
        margin: 0;
    }
    .cnt_ceo .tit {
        padding: 10px 0 27px 0;
        font-size: 17px;
        font-weight: 400;
    }
    .cnt_ceo .tit span {
        display: block;
    }
    .cnt_ceo .sign {
        margin: 54px 0 0 0;
        text-align: center;
    }
}

/* 회사소개 > 연혁 */
.cnt_historyN .tit {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}
.cnt_historyN .tit span {
    display: block; /*pc에서만 줄바꿈*/
}
.cnt_historyN .history_wrap {
    position: relative;
    margin: 76px 0 0 0;
}
.cnt_historyN .history_wrap::before {
    position: absolute;
    left: 50%;
    top: 18px;
    width: 1px;
    height: calc(100% - 23px);
    background-color: #ED1C24;
    content: "";
} 
.cnt_historyN .inner {
    position: relative; /*year_tit 정렬의 기준*/
}
.cnt_historyN .inner + .inner {
    margin: 78px 0 0 0;
}
.cnt_historyN .year_tit {
    position: absolute;
    top: 22px;
}
.cnt_historyN .year_tit.left {
    left: 80px;
}
.cnt_historyN .year_tit.right {
    right: 80px;
}
.cnt_historyN .year_tit .bg {
    width: 500px;
    height: 305px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cnt_historyN .year_tit .bg.year2010 {
    background-image: url(../images/contents/historyN_img01.png);
}
.cnt_historyN .year_tit .bg.year2000 {
    background-image: url(../images/contents/historyN_img02.png);
}

.cnt_historyN .year_tit h3 {
    position: absolute;
    left: 0;
    top: 109px;
    width: 100%;
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.cnt_historyN .year_list.left {
    margin: 0 0 0 50%;
}
.cnt_historyN .year_list.right {
    margin: 0 50% 0 0;
}
.cnt_historyN .year_list h4 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
}
.cnt_historyN .year_list.left h4{
    margin-left: 57px;
    float: left;
}
.cnt_historyN .year_list.right h4 {
    margin-right: 57px;
    float: right;
}
.cnt_historyN .year_list h4::before {
    position: absolute;
    top: 16px;
    width: 10px;
    height: 10px;
    border: 2px solid #ED1C24;
    border-radius: 8px;
    background-color: #FFF;
    content: "";
}
.cnt_historyN .year_list.left h4::before {
    left: -63px;
}
.cnt_historyN .year_list.right h4::before {
    right: -65px;
}
.cnt_historyN .year_list.left dl {
    margin: 0 0 50px 154px;
}
.cnt_historyN .year_list.right dl {
    margin: 0 154px 50px 0;
}.cnt_historyN .year_list dl {
    padding-top: 15px;
}
.cnt_historyN .year_list dl dt {
    font-weight: 700;
    line-height: 1.3;
}
.cnt_historyN .year_list.left dl dt {
    float: left;
}
.cnt_historyN .year_list.right dl dt {
    float: right;
}
.cnt_historyN .year_list dl dd {
    line-height: 1.3; 
    margin-bottom:  7px;
}
.cnt_historyN .year_list.left dl dd {
    margin-left: 41px;
}
.cnt_historyN .year_list.right dl dd {
    margin-right: 41px;
    text-align: right;   
}
.cnt_historyN .year_list dl dt + dd ~ dt {
    padding-top: 15px;
} 
.cnt_historyN .year_list dl dt + dd ~ dt + dd {
    padding-top: 15px;
}
@media screen and (max-width:640px) {
    .cnt_historyN .tit {
        font-size: 20px;
    }
    .cnt_historyN .tit span {
        display: inline; /*pc에서만 줄바꿈*/
    }
    .cnt_historyN .history_wrap {
        margin: 30px 0 0 0;
    }
    .cnt_historyN .history_wrap::before {
        left: 0;
        top: 0;
        height: 100%;
    }
    .cnt_historyN .inner + .inner {
        margin: 30px 0 0 0;
    }
    .cnt_historyN .year_tit {
        position: relative;
        top: 0;
        width: calc(100% + 40px);
    }
    .cnt_historyN .year_tit.left {
        margin: 0 0 30px 0;
        left: -20px;
    }
    .cnt_historyN .year_tit.right {
        margin: 0 0 30px 0;
        right: 20px;
    }
    .cnt_historyN .year_tit .bg {
        width: 100%;
        height: 130px;
    }
    .cnt_historyN .year_tit h3 {
        top: 43px;
        font-size: 30px;
    }
    .cnt_historyN .year_list.left {
        margin: 0;
    }
    .cnt_historyN .year_list.right {
        margin: 0;
    }
    .cnt_historyN .year_list h4 {
        font-size: 20px;
    }
    .cnt_historyN .year_list.left h4{
        margin-left: 35px;
    }
    .cnt_historyN .year_list.right h4 {
        margin-right: 0;
        margin-left: 35px;
        float: left;
    }
    .cnt_historyN .year_list h4::before {
        top: 11px;
        width: 5px;
        height: 5px;
        border-radius: 5px;
    }
    .cnt_historyN .year_list.left h4::before {
        left: -39px;
    }
    .cnt_historyN .year_list.right h4::before {
        right: auto;
        left: -39px;
    }
    .cnt_historyN .year_list.left dl {
        margin: 0 0 30px 20px;
    }
    .cnt_historyN .year_list.right dl {
        margin: 0 0 30px 20px;
    }
    .cnt_historyN .year_list dl {
        padding-top: 10px;
    }
    .cnt_historyN .year_list dl dt {
        padding-left: 15px;
        font-weight: 700;
        line-height: 1.3;
    }
    .cnt_historyN .year_list.right dl dt {
        float: left;
    }
    .cnt_historyN .year_list dl dd {
        line-height: 1.3; 
        margin-bottom:  7px;
    }
    .cnt_historyN .year_list.left dl dd {
        margin-left: 107px;
    }
    .cnt_historyN .year_list.right dl dd {
        margin-left: 107px;
        text-align: left;   
    }
    .cnt_historyN .year_list dl dt + dd ~ dt {
        padding: 15px 0 0 78px;
        
    } 
    .cnt_historyN .year_list dl dt + dd ~ dt + dd {
        padding-top: 15px;
    }
}