@import url(default.css);
@import url(common.css);

/* main.css - 메인에만 존재하는 디자인 스타일 */
.visual {
    background: url(../images/main/visual_bg.png) no-repeat center center / cover;
    color: #FFFFFF;
}
.visual .cnt_h {
    height: 1000px;
}
/*cnt_h는 visual의 높이와 동일 그 높이값을 기준으로 
컨텐츠를 위아래 가운데 배치하기 위해 absolute top 50%에서 
시작 그리고 위아래 이동값 부여 
(cnt_h의 높이가 변해도 위아래 가운데로 정렬)*/
.visual .cnt_h .txt {
    position: relative;
    left: 0;
    top: calc(50% + -132px);
    
}
.visual .cnt_h .txt h2 {
    padding: 0 0 10px 0;
    font-size: 60px;
    font-weight: 700;
}
.visual .cnt_h .txt p {
    font-size: 20px;
}
@media screen and (max-width:640px) {
    .visual .cnt_h {
        height: 600px;
    }
    .visual .cnt_h .txt {
        top: calc(50% + -100px);   
    }
    .visual .cnt_h .txt h2 {
        padding: 0 0 17px 0;
        font-size: 30px;
        line-height: 1;
    }
    .visual .cnt_h .txt p {
        font-size: 13px;
    }
}