@import url('default.css');
@import url('common.css');
@import url('contents.css');

/* 서브 레이아웃 - sub_visual, 서브 메뉴 등 서브 공통 디자인 */
.sub_visual {
    height: 350px;
    background-image: url(../images/sub/sub01_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* sub페이지는 1차메뉴마다 배경이미지 교체됨
sub1/sub2 메뉴마다 별도의 class추가
-> 그래도 기본적으로 sub_visual에는 배경이미지를 하나 지정해야함 대부분 회사소개의 배경을 줌 */
.sub_visual.sub1 {
    background-image: url(../images/sub/sub01_bg.png);
}
.sub_visual.sub2 {
    background-image: url(../images/sub/sub02_bg.png);
}
.sub_visual.sub3 {
    background-image: url(../images/sub/sub03_bg.png);
}
.sub_visual.sub4 {
    background-image: url(../images/sub/sub04_bg.png);
}
.sub_visual.sub5 {
    background-image: url(../images/sub/sub05_bg.png);
}
.sub_visual.sub6 {
    background-image: url(../images/sub/sub06_bg.png);
}
.sub_visual p {
    padding: 154px 0 0 0;
    color: #FFF;
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
}
@media screen and (max-width:640px) {
    .sub_visual {
        height: 200px;
        /* sub전체에 영향을 끼치는 요소라 페이지마다 높이가 다르면 안됨 */
    }
    .sub_visual p {
        padding: 84px 0 0 0;
        font-size: 15px;
    }
}
.lnb {
    height: 45px;
    line-height: 45px;
    /* 높이가 제한되고 요소들이 좌우로 배치되어 있는 디자인은 높이만큼 행간을 준다 */
    background-color: #ED1C24;
    color: #FFF;
}
.lnb .lnb_wrap {
    display: flex;
    justify-content: space-between;
    height: 45px;
}
.lnb .menu {
    display: flex;
}
.lnb .menu .home {
    display: block;
    width: 50px;
    border-left: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.4);
    text-align: center;
}
.lnb .menu .home i {
    margin: 10px 0 0 0;
}
.lnb .menu .depth {
    position: relative;
    width: 217px;
    border-right: 1px solid rgba(255,255,255,0.4);
}
.lnb .menu .depth button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px 0 20px;
}
.lnb .menu .depth button i {
    font-size: 24px;
    color: rgba(255,255,255,0.8);
}
.lnb .menu .depth ul {
    display: none;
    position: absolute;
    left: 0;
    top: 45px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    color: #3D3D3D;
    padding: 10px 0;
    
}
.lnb .menu .depth ul li a {
    display: block;
    line-height: 40px;
    padding: 0 0 0 20px;
}
.lnb .menu .depth ul li.now a,
.lnb .menu .depth ul li a:hover {
    color: #ED1C24;
    font-weight: 700;
}
.lnb .menu .depth .btn_close {
    display: none;
}

/* 
1차메뉴/2차메뉴가 열렸을때
1. btn_open ㅅㅏ라짐
2. ul이 나타남
3. btn_close 나타남
*/
.lnb .menu .depth.open .btn_open {
    display: none;
}
.lnb .menu .depth.open ul {
    display: block;
}
.lnb .menu .depth.open .btn_close {
    display: flex;
}

.lnb .lnb_btn ul {
    display: flex;
}
.lnb .lnb_btn ul li {
    width: 50px;
    border-left: 1px solid rgba(255,255,255,0.4);
    text-align: center;
}
.lnb .lnb_btn ul li:last-child {
    border-right: 1px solid rgba(255,255,255,0.4);
}
.lnb .lnb_btn ul li button {
    width: 100%;
    height: 45px;
}
.lnb .lnb_btn ul li button i {
    font-size: 24px;
    display: block;
}
.container {
    min-height: 300px;
    /* 초기에 코딩할때 메뉴별 빈페이지를 만들고 코딩함
    물론 나중에 콘텐츠가 들어가겠지만
    초기에 콘텐츠가 없으면 header/footer에 열리는 콘텐츠가 짤리는 현상이 발생한다. */
}
.container .sub_tit h2 {
    color: #1D1D1D;
    font-size: 40px;
    font-weight: 700;

}
