@import url(default.css);
@import url(common.css);

body {
    padding-bottom: 300px;
}
.popup {
    height: 800px;
}
.popup ul li .txt {
    position: absolute;
    /* left: calc(50% - 700px); */
    left: 50%;
    top: 50%;
    color: #FFF;
    /* transform: translate(0, -50%); */
    transform: translate(-50%, -50%); /* 해당 요소의 넓이를 기준으로 %를 계산 */
    text-align: center;
}
.popup ul li .txt span {
    display: block;
}
.popup ul li .txt strong {
    display: block;
    font-size: 50px;
    font-weight: 700;
}
.popup ul li img { /* 팝업에 이미지를 img태그로 처리한 경우 img에 주는 필수값 */
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popup .btn_prev, .popup .btn_next {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    line-height: 0;
}
.popup .btn_prev {
    left: 20px;
}
.popup .btn_next {
    right: 20px;
}
.popup .btn_prev::before, .popup .btn_next::before {
    position: absolute;
    top: -20px; /* 높이의 절반 - 위아래 가운데 배치 */
    width: 20px;
    height: 41px;
    background: url(../images/popup_arrow_left.svg) no-repeat center center / contain;
    opacity: 0.5;
    content: "";
}
.popup .btn_prev::before {
    left: 0;
}
.popup .btn_next::before {
    right: 0;
    transform: rotate(180deg); /* 회전 */
}
.popup .ctrl_wrap {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 35px;
    z-index: 10;
    transform: translate(-50%,0);
}
/* css스타일이 중복될때 - 프럴그인에서 준 스타일 수정
   css 선택자를 우선 적용될 수 있도록 설계해야함
   1. 더 먼 요소부터 선언 (body부터 지정)
   2. 스타일 줄 요소 정확하게 지칭 (태그명 보다 스타일명이 더 정확)
      .swiper-pagination-bullet
       span.swiper-pagination-bullet 
    3. css가 우선 적용되지 않을때
       속성에 important를 추가해서 무조건 적용되게 한다. 
       예시, width: 10px !important; */
.popup .btn_paging span.swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    margin: 0 10px 0 0;
    opacity: 1;
    background-color: #FFF;
}
/* .popup .btn_paging span.swiper-pagination-bullet-active 
  이렇게만 지정하면 .popup .btn_paging span.swiper-pagination-bullet 스타일과 충돌 됨. */
  .popup .btn_paging span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #FB0E57;
}

.popup .btn_stop {
    font-size: 0;
    line-height: 0;
    width: 13px;
    height: 21px;
    background-image: url(../images/popup_stop.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 0;
    line-height: 0;
}
.popup .btn_stop.play {
    background-image: url(../images/popup_play.svg);
}

@media screen and (max-width:1000px){
    .popup {
        height: 600px;
    }
    .popup ul li .txt strong {
        font-size: 40px;
    }
    .popup .btn_prev::before, .popup .btn_next::before {
        top: -30px;
        width: 30px;
        height: 59px;
    }
}
@media screen and (max-width:640px){
    .popup {
        height: 400px;
    }
    .popup ul li .txt strong {
        font-size: 30px;
    }
    .popup .btn_prev, .popup .btn_next {
        display: none;
    }
}
h1 {
    margin: 50px 0 10px 0;
    font-size: 50px;
    font-weight: 700;
}
@media screen and (max-width:1000px){
    h1 {
        font-size: 40px;
    }
}
@media screen and (max-width:800px){
    h1 {
        font-size: 30px;
    }
}
@media screen and (max-width:640px){
    h1 {
        font-size: 20px;
    }
}
.banner1 ul li img {
    width: 100%; /*li의 사이즈에 맞춰서 가로로 꽉채워(높이는비율에맞게알아서)*/
}
.banner1 ul li strong {
    display: block;
    font-size: 20px;
}
.banner2 ul li {
    width: 320px;
}
.banner2 ul li img {
    width: 100%; /*li의 사이즈에 맞춰서 가로로 꽉채워(높이는비율에맞게알아서)*/
}
.banner2 ul li strong {
    display: block;
    font-size: 20px;
}
@media screen and (max-width:1024px){
    .banner2 ul li {
        width: 250px;
    }
}
@media screen and (max-width:640px){
    .banner2 ul li {
        width: 170px;
    }
}