/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
html, body {
    color: #3D3D3D;
    line-height: 1.5;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어별 줄바꿈 */
}
#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 320px;
    /* 브라우저에 가로스크롤이 생성되었을때 배경이 짤리지 않기 위해 
       최소 넓이를 줌 */
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
    /* 1400px ~ 320px : 모든 사이즈 반응형
       1400px 일때에도 좌우에 여백은 유지 해야함 
       (1400px이상에서 1400px 이하로 변경되는 점 - 반응형으로 전환되는점)
       부드럽게 여백을 유지하면서 전환
       원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
       1400px이 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1440px이 넓이
       padding으로 좌우에 여백을 20px씩 준다.  */
}
@media screen and (max-width:1000px) {
    html, body {
        font-size: 14px;
    }
}
@media screen and (max-width:640px){
    html, body {
        font-size: 13px;
    }
}
/* media 종료 */
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
.cnt_wrap {
    position: relative;
}

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000000000000;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 40px;
    background-color: #004485;
    color: #FFF;
    text-align: center;
    line-height: 40px;
}
.skip_nav a:focus {
    top: 0;
}

.header {
    height: 100px;
}
.header .logo {
    float: left;
    margin: 31px 0 0 0;
    font-size: 0;
    line-height: 0;
    /* h1(글자가큰)태그이때문에 여백이 생길 수 있으므로 글자크기와 행간 0을 주고 감 */
}
.header .logo img {
    width: 149px;
}
.header .gnb {
    float: right;
}
.header .gnb ul li {
    float: left;
}
.header .gnb ul li a {
    display: block;
    padding: 0 47px;
    color: #1D1D1D;
    font-size: 25px;
    font-weight: 700;
    line-height: 100px;
}
.header .gnb .gnb_open {
    display: none;
}
@media screen and (max-width:1200px) {
    .header .logo {
        margin: 36px 0 0 0;
    }
    .header .logo img {
        width: 120px;
    }
    .header .gnb ul li a {
        padding: 0px 35px;
        font-size: 23px;
    }
}
@media screen and (max-width:1000px) {
    .header .logo {
        margin: 36px 0 0 0;
    }
    .header .logo img {
        width: 100px;
    }
    .header .gnb ul li a {
        padding: 0px 30px;
        font-size: 20px;
    }
}
@media screen and (max-width:670px) {
    .header .logo {
        margin: 38px 0 0 0;
    }
    .header .logo img {
        width: 90px;
    }
    .header .gnb ul li a {
        padding: 0px 20px;
        font-size: 18px;
    }
}
@media screen and (max-width:640px) {
    .header {
        height: 60px;
    }
    .header .logo {
        margin: 17px 0 0 0;
    }
    .header .logo img {
        width: 78px;
    }
    .header .gnb {
        float: right;
        padding: 15px 0;
    }
    .header .gnb ul {
        display: none;
    }
    .header .gnb .gnb_open {
        display: block;
    }
    .header .gnb .gnb_open img {
        width: 25px;
    }
}
.footer {
    position: relative;
}
.footer .family {
    position: absolute;
    right: calc(50% - 700px);
    /* wrapper없이 컨텐츠 영역의 오른쪽 끝에 family를 배치
       right: 50%에서 콘텐츠의 넓이 절반 (700px)을 빼줌 */
    top: 98px;
}
.footer .family button {
    width: 147px;
    height: 30px;
    border: 1px solid #CCC;
    color: #666;
}
.footer .ftop {
    height: 70px;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}
.footer .ftop .fnav li {
    position: relative;
    float: left;
    margin-right: 40px;
}
.footer .ftop .fnav li::after {
    position: absolute;
    right: -21px;
    top: 30px;
    width: 1px;
    height: 12px;
    background-color: #ededed;
    content: "";
}
.footer .ftop .fnav li:last-child::after {
    display: none;
}
.footer .ftop .fnav li.privacy a {
    font-weight: 700;
}
.footer .ftop .fnav li a {
    display: block;
    color: #666666;
    line-height: 70px;
}
.footer .fsub .flogo {
    float: left;
}
.footer .fsub .flogo img {
    width: 112px;
    filter: grayscale(100%);
}
.footer .fsub .inner {
    margin: 33px 0 116px 173px;
}
.footer .fsub .inner .finfo span {
    display: inline-block;
    margin: 0 20px 5px 0;
    color:#666666;
}
.footer .fsub .copyright {
    margin: 15px 0 0 0;
    color: #CCCCCC;
}
@media screen and (max-width:1440px){
    .footer .family {
        right: 20px;
    }
}
@media screen and (max-width:640px){
    .footer .family {
        display: flex;
        justify-content: center;
        position: relative;
        right: auto;
        top: auto;
        margin: 32px 0 32px 0;
    }
    .footer .family button {
        width: 130px;
        height: 24px;
    }
    .footer .ftop {
        height: auto;
        border-top: 0;
        border-bottom: 0;
    }
    .footer .ftop .fnav li {
        margin-right: 30px;
        margin-bottom: 5px;
    }
    .footer .ftop .fnav li::after {
        right: -15px;
        top: 5px;
        height: 10px;
    }
    .footer .ftop .fnav li a {
        line-height: 1.5; /* ftop 높이에 위아래 가운에 글자를 배치하는 가장 쉬운 방법 */
    }
    .footer .fsub .flogo {
        display: none;
    }
    .footer .fsub .inner {
        margin: 25px 0 61px 0;
    }
    .footer .fsub .finfo span {
        margin: 0 15px 5px 0;
    }
    .footer .fsub .copyright {
        margin: 8px 0 0 0;
    }
}