/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
html, body {
    color: #3D3D3D;
    line-height: 1.5;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어별 줄바꿈 */
}
#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 320px;
    /* 브라우저에 가로스크롤이 생성되었을때 배경이 짤리지 않기 위해 
       최소 넓이를 줌 */
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
    /* 1400px ~ 320px : 모든 사이즈 반응형
       1400px 일때에도 좌우에 여백은 유지 해야함 
       (1400px이상에서 1400px 이하로 변경되는 점 - 반응형으로 전환되는점)
       부드럽게 여백을 유지하면서 전환
       원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
       1400px이 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1440px이 넓이
       padding으로 좌우에 여백을 20px씩 준다.  */
}
@media screen and (max-width:1000px) {
    html, body {
        font-size: 14px;
    }
}
@media screen and (max-width:640px){
    html, body {
        font-size: 13px;
    }
}
/* media 종료 */
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
.cnt_wrap {
    position: relative;
}

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000000000000;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 40px;
    background-color: #004485;
    color: #FFF;
    text-align: center;
    line-height: 40px;
}
.skip_nav a:focus {
    top: 0;
}
.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 300;
    /*
        header와 서브메뉴(lnb)와 footer에서 풀다운 메뉴가
        중복될때 header가 맨 위에 올라가려고 제일 높은 숫자
        header - 300
        lnb - 200
        footer - 100
    */
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #FFF;
}
.header .logo {
    float: left;
    margin: 33px 0 0 30px;
}
.header .logo a {
    display: block;
    width: 171px;
    height: 38px;
    background-image: url(../images/common/logo_w.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 0;
    line-height: 0;
}
@media screen and (min-width:641px){
    /* 브라우저사이즈 641이상에서만 적용하는 스타일 */
    .header .gnb {
        float: right;
        margin: 0 30px 0 0;
    }
    .header .gnb .gnb_open {
        display: none; /* 모바일에서만 보인 */
    }
    .header .gnb .gnb_close {
        display: none; /* 모바일에서만 보인 */
    }
    .header .gnb>ul>li {
        float: left;
        width: 220px;
    }
    .header .gnb>ul>li>a { /* 1차메뉴 */
        display: block;
        font-size: 22px;
        line-height: 100px;
        text-align: center;
    }
    .header .gnb>ul>li {
        position: relative;/* 2차메뉴 정렬의 중심 */
    }
    .header .gnb>ul>li>ul { /* 2차메뉴 */
        display: none;
        position: absolute;
        left: 0;
        top: 100px;/* 1차메뉴 높이 제외하고 정확하게 그 아래 배치 */
        width: 100%;
        height: 473px;
        padding: 35px 0 0 0;
        border-left: 1px solid #EDEDED;
    }
    .header .gnb>ul>li>ul>li>a {
        display: block;
        padding: 0 0 0 30px;
        font-size: 17px;
        line-height: 40px;
    }
    
    /* 오버스타일 */
    .header .gnb>ul>li:hover>a {
        color: #0059A8;
        font-weight: 700;
    }
    .header .gnb>ul>li:hover>ul {
        background-color: #0059A8;
        color: #FFF;
    }
    .header .gnb>ul>li>ul>li>a:hover {
        color: #B1D9F9;
        font-weight: 700;
    }
}/* gnb의 PC 스타일 */

/* header가 고정됐을때 & 메뉴가 열렸을때 */
.header.fixed {
    position: fixed; /* 무조건 body와만 정렬 - 넓이 100% 
    - 1400px 이하에서 window의 넓이 만큼만 넓이를 인식해서 메뉴 깨짐 */
    min-width: 1400px; /* 최소넓이 */
    background-color: #FFF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.header.fixed,
.header.menu_open {
    color: #3D3D3D;
}
.header.fixed .logo a,
.header.menu_open .logo a {
    background-image: url(../images/common/logo.svg);
}
.header.menu_open::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /* position 속성이 있는 요소와 없는 요소가 나란히 존재하면 
     무조건 position 있는 요소가 위로 올라감. 
     이때 position있는 요소를 일반 요소 아래로 내리는 방법 z-index: -1 */
    width: 100%;
    height: 573px;
    background-color: #FFF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    content: "";
}
.header.menu_open::after {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 1px;
    background-color: #EDEDED;
    content: "";
}
.header.menu_open .gnb>ul>li>ul { /* 2차메뉴 */
    display: block;
}

@media screen and (max-width:640px){
    .header {
        height: 60px;
    }
    .header .logo {
        margin: 17px 0 0 20px;
    }
    .header .logo a {
        width: 122px;
        height: 27px;
    }
    .header .gnb {
        float: right;
        overflow-y: auto; /* 모바일 메뉴가 길어지면 메뉴가 스크롤 되도록 하는 값 */
    }
    .header .gnb button { /* gnb_open, gnb_close 둘다에 동일한 스타일 */
        height: 60px;
        padding: 0 20px;
    }
    .header .gnb button span {
        display: none; /* 글자숨김 */
    }
    .header .gnb button i {
        font-size: 21px;
    }
    .header .gnb > ul {
        display: none;
        margin: 60px 20px;
    }
    .header .gnb > ul > li {
        border-top: 1px solid #EDEDED;
    }
    .header .gnb > ul > li:last-child {
        border-bottom: 1px solid #EDEDED;
    }
    .header .gnb > ul > li > a {
        display: block;
        position: relative;
        padding: 0 0 0 20px;
        font-size: 22px;
        line-height: 60px;
    }
    .header .gnb > ul > li > a::after {
        position: absolute;
        right: 0;
        top: 23px;
        color: #CCCCCC;
        font-size: 15px;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f107";
    }
    .header .gnb > ul > li > ul {
        display: none;
        padding: 20px 0;
        background-color: #0059A8;
        color: #FFF;
    }
    .header .gnb > ul > li > ul > li > a {
        display: block;
        padding: 0 0 0 30px;
        font-size: 17px;
        line-height: 40px;
    }
    .header .gnb .gnb_close {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        color: #3D3D3D;
    }
    /* 서브메뉴가 열렸을때 */
    .header .gnb > ul > li.sub_open > a {
        color: #0059A8;
        font-weight: 700;
    }
    .header .gnb > ul > li.sub_open > a::after {
        color: #0059A8;
        content: "\f106";
    }
    .header .gnb > ul > li.sub_open > ul {
        display: block;
    }
    /* 메뉴가 열렸을때 */
    .header.menu_mobile .gnb {
        position: fixed; /* fixed는 body와만 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        color: #1D1D1D;
    }
    .header.menu_mobile .gnb .gnb_open {
        display: none;
    }
    .header.menu_mobile .gnb > ul {
        display: block;
    }
    .header.menu_mobile .gnb .gnb_close {
        display: block;
    }
    
    /* header 고정 */
    .header.fixed {
        min-width: 320px; /* 최소넓이 */
    }
    .header.fixed,
    .header.menu_open {
        color: #1D1D1D;
    }
    .header.fixed .gnb .gnb_open i {
        color: #004485;
    }

}/* header 모바일 스타일 */

/* common.css 모든 페이지에서 호출. .top이라고만 스타일주면 다른 콘텐츠에서 top이라고 
   클래스명을 주면 해당 스타일이 적용됨. 
   절대 콘텐츠 페이지에서 사용하지 않을 이름으로 줘야함. 
   aside라는 태그가 거의 사용하지 않는 태그라 aside.top이라고 함 */
aside.top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 150px;
    z-index: 250;
}
aside.top button {
    width: 50px;
    height: 60px;
    background-color: #0059A8;
    border-radius: 0 5px 0 5px;
    color: #FFF;
}
aside.top button span {
    display: none;
}
aside.top button i {
    font-size: 20px;
}

@media screen and (max-width:640px){
    aside.top {
        position: absolute;
        bottom: 245px;
    }
    aside.top button {
        width: 40px;
        height: 30px;
    }
    aside.top button i {
        font-size: 13px;
    }
}


.footer {
    background-color: #242D36;
    color: rgba(255,255,255,0.8);
}
.footer .sns {
    position: absolute;
    right: 0;
    top: 49px;
}
.footer .sns ul li {
    float: left;
}
.footer .sns ul li a {
    display: block;
    width: 40px;
    height: 40px;
    /* img를 a영역에  위아래/좌우 가운데 배치하기 위해서 */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .flogo {
    float: left;
    margin: 55px 75px 0 0;
}
.footer .flogo img {
    width: 120px;
}
.footer .inner {
    float: left;
    margin: 55px 0 0 0;
}
.footer .fnav li {
    position: relative;
    float: left;
    margin: 0 38px 0 0;
}
.footer .fnav li::after {
    position: absolute;
    right: -21px;
    top: 4px;
    width: 1px;
    height: 12px;
    background-color: rgba(255,255,255,0.3);
    content: "";
}
.footer .fnav li:last-child::after {
    display: none;
}
.footer .finfo {
    margin: 32px 0 9px 0;
}
.footer .finfo span {
    display: inline-block;
    /* 전화번호나 팩스처럼 짧은 span태그로 묶인 요소들이 display:inline-block;을 주면
       모바일에서 전화번호, 팩스가 2줄로 분리되어 나타나지 않음. */
    margin: 0 33px 0 0;
}
.footer .copyright {
    margin: 0 0 98px 0;
    color: rgba(255,255,255,0.6);
}

@media screen and (max-width:640px){
    .footer .sns {
        position: relative;
        right: auto;
        top: auto;
        height: 75px;
        /* ul을 가운데 정렬 */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .sns::after {
        position: absolute;
        left: -20px;
        bottom: 0;
        width: calc(100% + 40px);
        height: 1px;
        background-color: rgba(255,255,255,0.2);
        content: "";
    }
    .footer .sns ul li {
        border-width: 0; 
    }
    .footer .sns ul li:first-child {
        border-left-width: 0;
    }
    .footer .sns ul li a {
        width: 50px;
        height: 50px;
    }
    .footer .flogo {
        float: none;
        margin: 35px 0 35px 0;
    }
    .footer .flogo img {
        width: 102px;
    }
    .footer .inner {
        float: none;
        margin: 0;
    }
    .footer .fnav li {
        margin: 0 32px 5px 0;
    }
    .footer .fnav li::after {
        right: -16px;
    }
    .footer .finfo {
        margin: 28px 0 18px 0;
    }
    .footer .finfo span {
        margin: 0 26px 5px 0;
    }
    .footer .copyright {
        margin: 0 0 40px 0;
    }
}