@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR); /*항상 맨 위에 위치*/

body, section, p, div { /*body,section 등의 모든 태그에 동일한 스타일 적용(여백 제거)*/
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #3d3d3d;
    letter-spacing: -0.05em;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.visual {
    background-image: url(../images/visual_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 1080px;
}

.visual p {              /* class명이 visual인 태그에 감싸여 있는 p태그*/
    color: #ffffff;
    font-size: 50px;  
    line-height: 1.2; 
    font-weight: 700;
}

.visual a {
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 8px 24px;
    border-radius: 100px;
    display: inline-block;
}

.intro p {
    color: #3d3d3d;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}

.intro a {
    color: #ffffff;
    text-decoration: none;
    background-color: #3d3d3d;
    padding: 8px 24px;
    border-radius: 100px;
    display: inline-block;   
}

.service { 
    background-color: #f4f4f4;
}

.service p {
    color: #3d3d3d;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}

.service a {
    color: #ffffff;
    text-decoration: none;
    background-color: #3d3d3d;
    padding: 8px 24px;
    border-radius: 100px;
    display: inline-block;   
}

.it {
    background-image: url(../images/it_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 1080px;
}

.it p {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}

.it a {
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 8px 24px;
    border-radius: 100px;
    display: inline-block;
}