@import url(default.css);

h2 {
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 700;
}
.biz h2 {
    margin: 85px 0 70px 0;
}
.biz ul li {
    float: left;
    width: 33.33%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.biz ul li.plant {
    background-image: url(../images/biz01.png);
}
.biz ul li.infra {
    background-image: url(../images/biz02.png);
}
.biz ul li.building {
    background-image: url(../images/biz03.png);
}
.biz ul li a {
    display: block;
    height: 650px;
    padding: 447px 0 70px 70px;
    color: #FFF;
}
.biz ul li a .tit {
    display: block;
    font-size: 30px;
    font-weight: 700;
}
.biz ul li a .tit span {
    /* pc모드에서 줄바꿈을 주기 위해 */
    display: block;
}
.biz ul li a .sub {
    display: block;
    margin: 20px 0 0 2px;
}

@media screen and (max-width:640px) {
    .biz h2 {
        margin: 35px 0 15px 0;
        font-size: 20px;
    }
    .biz ul li {
        float: none;
        width: auto;
    }
    .biz ul li a {
        /* 내부에 쓴 글자가 2줄이 되고 3줄이 되도 디자인 스타일을 유지하기 위해서 높이가 아니라 위아래 padding으로 구현 */
        height: auto;
        padding: 15px 20px 38px 20px;
    }
    .biz ul li a .tit {
        font-size: 18px;
    }
    .biz ul li a .tit span {
        display: inline;
    }
    .biz ul li a .sub {
        margin: 0 0 0 1px;
    }
}/*media 종료*/

.news {
    margin: 0 0 200px 0;
}
.news h2 {
    margin: 85px 0 70px 0;
}
.news ul li {
    float: left;
    width: 290px;
    margin: 0 40px 0 0;
}
.news ul li:last-child {
    margin-right: 0;
}
.news ul li a {
    display: block;
}
.news ul li a .date {
    display: block;
    margin: 20px 0 10px 0;
    color: #666666;
} 
.news ul li a .date span {
    display: inline-block; /*margin 적용*/
}
.news ul li a .date span:first-child {
    position: relative;
    margin-right: 13px;
}
.news ul li a .date span:first-child::after {
    position: absolute;
    right: -9px;
    top: 7px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    content: "";
}
.news ul li a .tit {
    display: block;
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-width:640px) {
    .news {
        margin: 0 0 22px 0;
    }
    .news h2 {
        margin: 35px 0 15px 0;
        font-size: 20px;
    }
    .news ul li {
        float: none;
        width: auto;
        margin: 0 0 0 0;
        border-top: 1px solid #ccc;
    }
    .news ul li a {
        padding: 15px 0;
    }
    .news ul li a img {
        display: none;
    }
    .news ul li a .date {
        margin: 0 0 0 0;
    } 
    .news ul li a .date span:first-child {
        margin-right: 10px;
    }
    .news ul li a .date span:first-child::after {
        right: -7px;
        top: 7px;
        height: 8px;
    }
    .news ul li a .tit {
        font-size: 15px;
        /*최대2줄까지만 제목이 나오도록 설정*/
        line-height: 1.5;/*행간*/
        max-height: 3em;/*3줄 (줄수)*/
        overflow: hidden
    }
}/*media 종료*/

.banner ul li {
    float: left;
    width: 550px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.banner ul li:first-child {
    width: 730px;
}
.banner ul li.esg {
    background-image: url(../images/bn01.png);
}
.banner ul li.customer {
    background-image: url(../images/bn02.png);
}
.banner ul li.recruit {
    background-image: url(../images/bn03.png);
}
.banner ul li a {
    display: block;   
    height: 380px;
    padding: 50px 0 0 60px;
    color: #FFF;
}
.banner ul li:first-child a {
    height: 760px;
    padding: 60px 0 0 70px;
}
.banner ul li a .top {
    display: block;
}
.banner ul li a .tit {
    display: block;
    font-size: 30px;
    font-weight: 700;
}
.banner ul li.esg a .tit {
    font-size: 50px;
}
.banner ul li a .more {
    display: block;
}
.banner ul li a .tit span {
    display: block;
}
@media screen and (max-width:640px) {
    .banner ul li {
        float: none;
        width: auto;
    }
    .banner ul li:first-child {
        width: auto;
    }
    .banner ul li a {   
        height: auto;
        padding: 30px;
    }
    .banner ul li:first-child a {
        height: auto;
        padding: 30px;
    }
    .banner ul li a .top {
        font-size: 13px;
    }
    .banner ul li a .tit {
        font-size: 18px;
    }
    .banner ul li.esg a .tit {
        font-size: 18px;
    }
    .banner ul li a .more {
        font-size: 13px;
    }
    .banner ul li a .tit span {
        display: inline;
    }
 } /*media 종료*/